@model IMAnnualReview.Domain.Entities.AppUserRole

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-field">
    @Html.EditorFor(model => model.OrderBy)
    @Html.ValidationMessageFor(model => model.OrderBy)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.Active)
    @Html.ValidationMessageFor(model => model.Active)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.UpdatedBy)
    @Html.ValidationMessageFor(model => model.UpdatedBy)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.DateUpdated)
    @Html.ValidationMessageFor(model => model.DateUpdated)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.CreatedBy)
    @Html.ValidationMessageFor(model => model.CreatedBy)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.DateCreated)
    @Html.ValidationMessageFor(model => model.DateCreated)
</div>

<div class="editor-label">
    AppUser
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.AppUserId, ((IEnumerable<IMAnnualReview.Domain.Entities.AppUser>)ViewBag.PossibleAppUsers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.LastName), 
        Value = option.AppUserId.ToString(),
        Selected = (Model != null) && (option.AppUserId == Model.AppUserId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.AppUserId)
</div>
<div class="editor-label">
    AppRole
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.AppRoleId, ((IEnumerable<IMAnnualReview.Domain.Entities.AppRole>)ViewBag.PossibleAppRoles).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.AppRoleId.ToString(),
        Selected = (Model != null) && (option.AppRoleId == Model.AppRoleId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.AppRoleId)
</div>
