@model IMAnnualReview.Domain.Entities.AppUserRole

@{
    ViewBag.Title = "Delete";
}

<div class="container" role="main">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>

    <fieldset>
        <legend>AppUserRole</legend>

        <div class="display-label">AppUser</div>
        <div class="display-field">@(Model.AppUser == null ? "None" : Model.AppUser.LastName)</div>

        <div class="display-label">AppRole</div>
        <div class="display-field">@Html.DisplayTextFor(_ => Model.AppRole).ToString()</div>

        <div class="display-label">OrderBy</div>
        <div class="display-field">@Model.OrderBy</div>

        <div class="display-label">Active</div>
        <div class="display-field">@Model.Active</div>

        <div class="display-label">UpdatedBy</div>
        <div class="display-field">@Model.UpdatedBy</div>

        <div class="display-label">DateUpdated</div>
        <div class="display-field">@String.Format("{0:g}", Model.DateUpdated)</div>

        <div class="display-label">CreatedBy</div>
        <div class="display-field">@Model.CreatedBy</div>

        <div class="display-label">DateCreated</div>
        <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>
    </fieldset>

    @using (Html.BeginForm()) {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</div>

