@model IMAnnualReview.Domain.Entities.AppLog

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-field">
    @Html.EditorFor(model => model.Application)
    @Html.ValidationMessageFor(model => model.Application)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.LogEntryType)
    @Html.ValidationMessageFor(model => model.LogEntryType)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.Category)
    @Html.ValidationMessageFor(model => model.Category)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.LogLevel)
    @Html.ValidationMessageFor(model => model.LogLevel)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.Message)
    @Html.ValidationMessageFor(model => model.Message)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.XmlMessage)
    @Html.ValidationMessageFor(model => model.XmlMessage)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.Browser)
    @Html.ValidationMessageFor(model => model.Browser)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.IPAddress)
    @Html.ValidationMessageFor(model => model.IPAddress)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.Created)
    @Html.ValidationMessageFor(model => model.Created)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.CreatedBy)
    @Html.ValidationMessageFor(model => model.CreatedBy)
</div>

