@model IMAnnualReview.Domain.Entities.AppRole

@{
    ViewBag.Title = "Details";
}

<div class="container" role="main">

    <h2>Details</h2>

    <fieldset>
        <legend>AppRole</legend>

        <div class="display-label"><b>RoleName</b></div>
        <div class="display-field">@Model.RoleName</div>

        <div class="display-label"><b>RoleAbbr</b></div>
        <div class="display-field">@Model.RoleAbbr</div>

        <div class="display-label"><b>ShortDesc</b></div>
        <div class="display-field">@Model.ShortDesc</div>

        <div class="display-label"><b>LongDesc</b></div>
        <div class="display-field">@Model.LongDesc</div>

        <div class="display-label"><b>OrderBy</b></div>
        <div class="display-field">@Model.OrderBy</div>

        <div class="display-label"><b>Active</b></div>
        <div class="display-field">@Model.Active</div>

        <div class="display-label"><b>UpdatedBy</b></div>
        <div class="display-field">@Model.UpdatedBy</div>

        <div class="display-label"><b>DateUpdated</b></div>
        <div class="display-field">@String.Format("{0:g}", Model.DateUpdated)</div>

        <div class="display-label"><b>CreatedBy</b></div>
        <div class="display-field">@Model.CreatedBy</div>

        <div class="display-label"><b>DateCreated</b></div>
        <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>

        <div class="display-label"><b>AppUserRoles</b></div>
        <div class="display-field">@(Model.AppUserRoles == null ? "None" : Model.AppUserRoles.Count.ToString())</div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.AppRoleId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

<div>

