@model IEnumerable<IMAnnualReview.Domain.Entities.AppRole>

@{
    ViewBag.Title = "Roles";
}

<div id='dialogDiv' class='modal fade'>
    <div id='dialogContent' class="modal-dialog"></div>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, null, new { @class = "btn btn-default btnCreate" })    
    <noscript>
        <style type="text/css">
            .openDialog
            {
                display: none;
            }
        </style>               
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
    </noscript>      
</p>
<table class="table table-striped">
    <tr>
        <th>
            Role Name
        </th>
        <th>
            Role Abbr
        </th>
        <th>
            Short Desc
        </th>
        <th>
            Long Desc
        </th>
        <th>
            Active
        </th>
        <th>
            Updated By
        </th>
        <th>
            Date Updated
        </th>
        <th>
            Created By
        </th>
        <th>
            Date Created
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleAbbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>             
            @Html.ActionLink("Edit", "Edit", new { id = item.AppRoleId }, new { @class = "btn btn-default btn-sm btnCreate" })             
            @Html.ActionLink("Details", "Details", new { id = item.AppRoleId }, new { @class = "btn btn-default btn-sm btnCreate" })             
            @Html.ActionLink("Delete", "Delete", new { id = item.AppRoleId }, new { @class = "btn btn-default btn-danger btn-sm btnCreate" })
        </td>
    </tr>
}

</table>


@*@model IEnumerable<IMAnnualReview.Domain.Entities.AppRole>

@{
    ViewBag.Title = "Index";
}

<div class="container" role="main">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>
                RoleName
            </th>
            <th>
                RoleAbbr
            </th>
            <th>
                ShortDesc
            </th>
            <th>
                LongDesc
            </th>
            <th>
                OrderBy
            </th>
            <th>
                Active
            </th>
            <th>
                UpdatedBy
            </th>
            <th>
                DateUpdated
            </th>
            <th>
                CreatedBy
            </th>
            <th>
                DateCreated
            </th>
            <th>
                AppUserRoles
            </th>
        </tr>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AppRoleId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AppRoleId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AppRoleId })
            </td>
            <td>
			    @item.RoleName
            </td>
            <td>
			    @item.RoleAbbr
            </td>
            <td>
			    @item.ShortDesc
            </td>
            <td>
			    @item.LongDesc
            </td>
            <td>
			    @item.OrderBy
            </td>
            <td>
			    @item.Active
            </td>
            <td>
			    @item.UpdatedBy
            </td>
            <td>
			    @String.Format("{0:g}", item.DateUpdated)
            </td>
            <td>
			    @item.CreatedBy
            </td>
            <td>
			    @String.Format("{0:g}", item.DateCreated)
            </td>
            <td>
			    @(item.AppUserRoles == null ? "None" : item.AppUserRoles.Count.ToString())
            </td>
        </tr>
}
    </table>
</div>
*@
